<header>
    <h1><a href="/">Partnere</a></h1>
    <nav>
        <a href="/contact">Contact</a>&nbsp;|&nbsp;
        <a href="/login">Login</a>&nbsp;|&nbsp;
        <a href="">Store</a>
    </nav>

</header>